* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
  background-color: rgb(41, 38, 38);
}

.app-container {
  width: 20rem;
  height: 30rem;
  color: #fff;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(to bottom right, #fdabdd, #374a5a);
  border-radius: 12px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.search-box {
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 10px 0;
}

.search-place {
  width: 90%;
  padding: 5px;
  border-radius: 30px;
  border: none;
  outline: none;
  font-size: 15px;
}
.search-icon {
  background-color: white;
  color: black;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
}

/* weather information box */

.weather-info-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.temp {
  display: flex;
  align-items: center;
  width: 15rem;
  justify-content: space-between;
}
.temp .max-temp,
.feels-like {
  font-size: 12px;
}

.weather-description {
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: -20px;
}

.weather-info-box .weather-deg {
  font-size: 35px;
  font-weight: bold;
}

.weather-info-box .place {
  margin-top: 15px;
  font-size: 25px;
  font-weight: 500;
}

.weather-img {
  width: 120px;
  margin: 0;
}

/* other details */
.other-details {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin: 25px 0;
}

.other-details img {
  width: 30px;
}

.humidity-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.info {
  font-size: 20px;
}

.description {
  font-size: 12px;
}

.wind-speed-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.error-msg {
  width: 20rem;
  height: 2rem;
  background-color: red;
  position: absolute;
  top: 5px;

  border-radius: 8px;
  color: white;
  background-image: linear-gradient(to bottom right, #fdabdd, #374a5a);
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  padding: 0 10px;
}

/* timing of the city details */
.timing-details {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

.time-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.time-box .img {
  width: 30px;
}

.time-box .value {
  font-size: 15px;
  font-weight: 500;
}

.error-msg .remove-btn {
  /* margin-left: auto; */
  font-size: 15px;
  cursor: pointer;
}

.hidden {
  display: none;
}
